body, html {
  margin: 0px;
  padding: 50px;
}

.menu {
  display: flex;
  flex-flow: row;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  .button-left{
    border-top: 50px solid transparent;
    border-right: 50px solid black;
    border-bottom: 50px solid transparent;
  }

  .button-left:hover {
    cursor: pointer;
    opacity: .6;
  }
  .button-right{
    border-top: 50px solid transparent;
    border-left: 50px solid black;
    border-bottom: 50px solid transparent;
  }
  .button-right:hover {
    cursor: pointer;
    opacity: .6;
  }
  .color {
    width: 100px;
    height: 100px;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .white {
    background-color: white;
  }

  .yellow {
    background-color: yellow;
  }

  .black {
    background-color: black;
  }

  .green {
    background-color: green;
  }

  .purple {
    background-color: purple;
  }

  .mulberry {
    background-color: #cc0099;
  }

  .ash {
    background-color: #737373;
  }

  .brown {
    background-color: #663300;
  }

  .sky {
    background-color: #66ccff;
  }

  .amaranth {
    background-color: #ff0066;
  }

  .ermine {
    background-image: url('../img/ermine.png');
    background-repeat: repeat;
  }

  .vair {
    background-image: url('../img/vair.png');
  }
}
