body html {
  margin: 0px;
  padding: 0px;
}
.color {
  width: 100px;
  height: 100px;
}

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .white {
    background-color: #fafafa;
  }

  .yellow {
    background-color: yellow;
  }

  .black {
    background-color: black;
  }

  .green {
    background-color: green;
  }

  .purple {
    background-color: purple;
  }

  .mulberry {
    background-color: #cc0099;
  }

  .ash {
    background-color: #737373;
  }

  .brown {
    background-color: #663300;
  }

  .sky {
    background-color: #66ccff;
  }

  .amaranth {
    background-color: #ff0066;
  }

  .ermine {
    background-image: url('../img/ermine.png');
    background-repeat: repeat;
  }

  .vair {
    background-image: url('../img/vair.png');
    background-repeat: repeat;
  }
